
.swiper-pagination {
    bottom: 0;
    /* transition-timing-function: ease-in-out; */
  }
  
  .swiper-pagination-bullet {
    display: block;
    visibility: visible;
    width: 6px;
    height: 6px;
    margin-top: 400px !important;
    /* padding: 10px; */
    background: transparent;
    border: 1px solid #68b8ff;
    opacity: 1;
  }
  
  
  .swiper-pagination-bullet:hover {
   cursor: pointer;
  }
  
  .swiper-pagination-bullet-active {
    /* width: 50px; */
    height: 6px;
    transition: width 0.5s;
    border-radius: 5px;
    background: #68b8ff;
    border: 1px solid transparent;
  }
  

  .custom-slider .swiper-slide{
    width: 150px
  }